#imageBody{
    display: grid;
  grid-template-columns: auto auto auto auto;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
  gap: 10px;
  
}
    


#imageBody img{
    width:40vh;
    height:40vh
}

#imageBody div{
   border: 1px solid black;
   
}











/* footer */

.footer{
    display: flex;
    
   
}
.f1{
    display: flex;
    flex-direction: row;
    gap:58px;
    white-space: nowrap;
    background-color: #33353b;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
.f1:hover{

}